    <clr-datagrid *ngIf="leaveShow">
        <clr-dg-column>วันที่ลา</clr-dg-column>
        <clr-dg-column>ถึงวันที่</clr-dg-column>
        <clr-dg-column>จำนวนวัน</clr-dg-column>
        <clr-dg-column [clrDgField]="'lTypeName'">ประเภทการลา</clr-dg-column>
        <clr-dg-column>ครึ่งวัน/เต็มวัน</clr-dg-column>
        <clr-dg-column>สถานะการลา</clr-dg-column>
        <clr-dg-column>#</clr-dg-column>
        <clr-dg-row *ngFor="let item of leaveShow">
            <clr-dg-cell>{{ item.dateStart }}</clr-dg-cell>
            <clr-dg-cell>{{ item.dateEnd }}</clr-dg-cell>
            <clr-dg-cell>{{ item.totalLeave }}</clr-dg-cell>
            <clr-dg-cell>{{ item.lTypeName }}</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.lSelect==1 ">เช้า</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.lSelect==2 ">บ่าย</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.lSelect==3 ">เต็มวัน</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==2 && item.statusBoss==2 && item.statusCeo==2">ลาสำเร็จ</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==1 && item.statusBoss==1 && item.statusCeo==1">รออนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==2 && item.statusBoss==1 && item.statusCeo==1">รออนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==2 && item.statusBoss==2 && item.statusCeo==1">รออนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==3 && item.statusBoss==1 && item.statusCeo==1">ลาไม่สำเร็จ</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==2 && item.statusBoss==3 && item.statusCeo==1">ลาไม่สำเร็จ</clr-dg-cell>
            <clr-dg-cell *ngIf=" item.statusHr==2 && item.statusBoss==2 && item.statusCeo==3">ลาไม่สำเร็จ</clr-dg-cell>
            <clr-dg-cell>
                <button class="btn btn-primary" (click)="onEdit(item)" 
                [disabled]="(item.statusHr==3 && item.statusBoss==1 && item.statusCeo==1)
                || (item.statusHr==2 && item.statusBoss==3 && item.statusCeo==1)
                || (item.statusHr==2 && item.statusBoss==2 && item.statusCeo==3)
                || (item.statusHr==2 && item.statusBoss==2 && item.statusCeo==2)">
                แก้ไข</button>
                <button class="btn btn-danger" (click)="onCancel(item)"
                [disabled]="(item.statusHr==3 && item.statusBoss==1 && item.statusCeo==1)
                || (item.statusHr==2 && item.statusBoss==3 && item.statusCeo==1)
                || (item.statusHr==2 && item.statusBoss==2 && item.statusCeo==3)
                || (item.statusHr==2 && item.statusBoss==2 && item.statusCeo==2)">ยกเลิก</button>
                <button class="btn btn-success" disabled>ออกหนังสือ</button>
            </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
            <b>ลาทั้งหมด {{leaveShow.length}} ครั้ง </b>&nbsp;&nbsp;
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,15,20,25]">leave per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} leave
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
  
    <clr-modal *ngIf="currentRow" [(clrModalOpen)]="modalEdit">
        <h3 class="modal-title">แก้ไขการลา</h3>
        <div class="modal-body">
        <clr-input-container>
            <label>วันที่ลา</label>
            <input clrInput type="text" [(ngModel)]="currentRow.dateStart" name="dateStart" />
        </clr-input-container>
        <clr-input-container>
            <label>ถึงวันที่</label>
            <input clrInput type="text" [(ngModel)]="currentRow.dateEnd" name="dateEnd" />
        </clr-input-container>
        <clr-input-container>
            <label>ประเภทการลา</label>
            <input clrInput type="text" [(ngModel)]="currentRow.lTypeName" name="dateStart" />
          </clr-input-container>
          <clr-input-container>
            <label>เวลา</label>
            <input clrInput type="text" [(ngModel)]="currentRow.lSelect" name="dateStart" />
          </clr-input-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalEdit = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onSave()">Ok</button>
        </div>
    </clr-modal>
