<div class="login-wrapper">
  <form class="login">
      <section class="title">
          <h3 class="welcome">ยินดีต้อนรับ</h3>
          ระบบการลา
      </section>
      <div class="login-group">
         email <input class="username" name="username" type="email" id="login_username" [(ngModel)]="username" placeholder="Username">
        password <input class="password" name="password" type="password" id="login_password" [(ngModel)]="password" placeholder="Password">
          <div class="error active" *ngIf="isError">
              Invalid user name or password
          </div>
          <button [disabled]="!username || !password" type="submit" class="btn btn-success" (click)="onLogin()">Login</button>
      </div>
  </form>
</div>
