<!-- Load the latest version
<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
Or load a specific version -->
<!-- <link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" /> --> 
<div style="position:relative; padding-top:5%;padding-left:10%;padding-right:10%; background-color: WhiteSmoke;">
  <div class="jumbotron">
    <h2>ข้อมูลส่วนตัว</h2><br>
    <hr class="my-4">
    <form action="#" >
      <div class="form-group">
        <b><label for="exampleFormControlInput1">รหัสบัตรประชาชน</label></b>
        {{userList.cid}}
        </div>
      <div class="form-group">
        <b><label for="exampleFormControlInput1">ตำแหน่ง</label></b>
        {{userList.job_position}} 
      </div>
      <div class="form-group">
        <b><label for="exampleFormControlTextarea1">ชื่อ</label></b>
        {{userList.name}} 
      </div>
      <div class="form-group">
        <b><label for="exampleFormControlInput1">นามสกุล</label></b>
        {{userList.last_name}}          
      </div>
      <div class="form-group">
        <b><label for="exampleFormControlInput1">เบอร์โทรศัพท์</label></b>
        {{userList.telephone}}         
      </div>
      <div class="form-group">
        <b><label for="exampleFormControlTextarea1">E-mail</label></b>
        <label>
            {{userList.email}} 
        </label>
      </div>

    <div style="text-align:center;">
      <button type="submit" name="submit" class="btn btn-primary mb-2">ยืนยัน</button> 
    </div>
    </form>
</div>
</div>