<!-- Load the latest version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
<!-- Or load a specific version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" />


<h1 style="text-align:center;">
    ประวัติ
</h1><br>
<div style="margin-left: 20% ;">
<form clrForm>
    <clr-input-container>
        <label>รหัสบัตรประชาชน</label>
        
    </clr-input-container>
    <clr-input-container>
        <label>คำนำหน้า</label>
        
    </clr-input-container>
    <clr-input-container>
        <label>ชื่อ</label>
        
    </clr-input-container>
    <clr-input-container>
        <label>สกุล</label>
        
    </clr-input-container>
    <clr-input-container>
        <label>วัน / เดือน / ปีเกิด</label>
        
    </clr-input-container>
    <clr-textarea-container>
        <label>ที่อยู่</label>
        
    </clr-textarea-container>
    <clr-input-container>
        <label>ศาสนา</label>
        
    </clr-input-container>
</form>
</div>
