<div
  style="position:relative; padding-top:5%;padding-left:10%;padding-right:10%; background-color: WhiteSmoke;"
>
  <!-- <div id="form-wrapper" style="max-width:500px;margin:auto;"> -->
  <div class="jumbotron">
    <h1>
      ทำเรื่องลา
    </h1>
    <form clrForm clrLayout="vertical">
      <div class="clr-form-control" id="test">
        <label for="select-full" class="clr-control-label">
          กรุณาเลือกประเภทการลา :
          <div class="clr-control-container">
            <select
              id="lTypeId"
              name="lTypeId"
              [(ngModel)]="lTypeId"
              class="clr-select"
            >
              <option
                *ngFor="let leave_type of leaveType"
                [value]="leave_type.lTypeId"
              >
                {{ leave_type.lTypeName }}
              </option>
            </select>
          </div>
        </label>
        <clr-radio-container clrInline>
          <label>กรุณาเลือกช่วงเวลาของการลา</label>
          <clr-radio-wrapper>
            <input
              type="radio"
              clrRadio
              name="fullday"
              required
              value="3"
              [(ngModel)]="lSelect"
            />
            <label>ลาเต็มวัน</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input
              type="radio"
              clrRadio
              name="morHalfday"
              required
              value="1"
              [(ngModel)]="lSelect"
            />
            <label>ลาครึ่งวันช่วงเช้า</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input
              type="radio"
              clrRadio
              name="afHalfday"
              required
              value="2"
              [(ngModel)]="lSelect"
            />
            <label>ลาครึ่งวันช่วงเช้า</label>
          </clr-radio-wrapper>
        </clr-radio-container>

        <clr-date-container>
          <label>วันที่ลา</label>
          <input type="date" name="dateStart" [(ngModel)]="dateStart" clrDate />
        </clr-date-container>
        <clr-date-container *ngIf="lSelect == 3">
          <label>ถึงวันที่</label>
          <input type="date" name="dateEnd" [(ngModel)]="dateEnd" clrDate />
        </clr-date-container>
        <br />
        <div style="text-align:center;">
          <button
            (click)="onSave()"
            class="btn btn-success"
            [disabled]="
              ((dateEnd < dateStart || !dateEnd) && lSelect == 3) ||
              !lTypeId ||
              !lSelect ||
              !dateStart
            "
          >
            บันทึก
          </button>
          <br />
        </div>
      </div>
    </form>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>
