<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a href="/main" class="nav-link">
              <clr-icon shape="book"></clr-icon>
              <span class="title">LMS</span>
            </a>
          </div>
          <div class="header-actions">
              <clr-dropdown>
                  <button class="nav-text" clrDropdownTrigger>
                      {{userList.name}} {{userList.last_name}}
                      <clr-icon shape="caret down"></clr-icon>
                  </button>
        
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                  <a href="javascript://" clrDropdownItem routerLink="/about">ข้อมูลส่วนตัว</a>
                  <a href="javascript://" clrDropdownItem (click)="onLogout()"
                  >ออกจากระบบ</a
                  >
                </clr-dropdown-menu>
              </clr-dropdown>
            </div>

    </header>
    <div class="content-container">
        <div class="content-area">
      <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <a href="../main" class="nav-link">
                  หน้าแรก
              </a>
                <a href="../history" class="nav-link">
                    การลา
                </a>
            </section>
        </nav>
    </div>
</div>

<!-- <clr-main-container>
  <clr-header class="header-5" style="background-color: #2e3142">
    <div class="branding">
      <a href="/main" class="nav-link">
        <clr-icon shape="book"></clr-icon>
        <span class="title">LMS</span>
      </a>
    </div> -->
    <!-- <div class="header-nav" [clr-nav-level]="1">
      <a
        href="javascript://"
        class="active nav-link nav-icon"
        routerLink="/main"
      >
        <clr-icon shape="home"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="folder"></clr-icon>
      </a>
    </div> -->
    <!-- <div class="header-actions">
      <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
              {{userList.name}} {{userList.last_name}}
              <clr-icon shape="caret down"></clr-icon>
          </button>

        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem routerLink="/about">ข้อมูลส่วนตัว</a>
          <a href="javascript://" clrDropdownItem (click)="onLogout()"
          >ออกจากระบบ</a
          >
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="collapsed"
      [clr-nav-level]="2"
    >
      <clr-vertical-nav routerLinkActive="active">
        <a clrVerticalNavLink href="../history" routerLinkActive="active">การลา</a> -->
        <!-- <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            href="../../../reqLeave"
            routerLinkActive="active"
          >
            ทำเรื่องลา
          </a>
          <a clrVerticalNavLink href="../history" routerLinkActive="active">
            ประวัติการลา
          </a>
          <a clrVerticalNavLink href="../history-cancel" routerLinkActive="active">
            ประวัติยกเลิกการลา
          </a>
          <a
            clrVerticalNavLink
            routerLink="./normal/snorlax"
            routerLinkActive="active"
          >
            report
          </a>
        </clr-vertical-nav-group-children> -->
      <!-- </clr-vertical-nav>
    </clr-vertical-nav>
  </div>
</clr-main-container> -->
